#editor {
  background-color: #292d3e;
  border:solid 1px;
}
#previewer {
  background-color: #292d3e;
  border:solid 1px;
}
#form-editor {
  height: 100vh;
  background-color: #0d1117;
  -webkit-box-shadow: none;
  border-style: none;
}
#form-previewer {
  height: 100vh;
  background-color: #0d1117;
  border-style: none;
}
.author-section {
  display: flex;
  justify-content: center;
}
.Navbar {
  background-color: #161b22;
}

.head {
  background-color: #0d1117;
  border-bottom: solid #292d3e 1px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.code-example {
  background-color: #292d3e;
  color: #fff;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.page-not-found {
  height:100vh;
}
pre {
  color: #e83e8c !important;
  background-color: #292d3e;
}
table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #fff;
  padding-left: 5px;
  padding-right: 5px;
}