#editor {
  background-color: #292d3e;
}
#previewer {
  background-color: #292d3e;
}
#form-editor {
  height: 100vh;
  background-color: #0d1117;
}

.author-section {
  display: flex;
  justify-content: center;
}
.Navbar {
  background-color: #161b22;
}

.head {
  background-color: #0d1117;
}
.code-example {
  background-color: #292d3e;
  color: #fff;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
