
#editor {
  background-color: #292d3e;
}
#previewer {
  background-color: #292d3e;
}
#form-editor {
  height: 85vh;
  background-color: #0d1117;
}
.Navbar {
  background-color: #161b22;
}

.head {
  background-color: #0d1117;
}
